// MIXINS
@import '../webappTmpl/css/mixins';

@mixin template-theme-local( $base-xlight:#587790, $base-light:#3F627F, $base-med:#2A4F6E, $base-dark:#0B2E4B, $highlight:#D2CA78 ) {
	@include template-theme( $base-xlight, $base-light, $base-med, $base-dark, $highlight );

	.page {
		.view-ctrl {
			.btn {
				background-color: $base-xlight;
				color: $base-med;
				&.selected, &:hover {
					background-color: $highlight;
					color: $base-dark;
				}
			}
		}
	}
}