// app stylesheet

@import '../webappTmpl/css/mixins';

@font-face {
	font-family: 'Schueler';
	font-style: normal;
	font-weight: 400;
	src: local('Schueler'), url(../../fonts/Schueler.ttf) format('truetype');
}

.page {
	.view {
		display: block;
		position: relative;
		width: 100%;
		opacity: 1;
		@include transition( opacity, .5s, ease-in-out, 0s );
		&#eng_eno {
			.word {
				display: inline-block;
				margin: 8px 10px;
				> div {
					display: block;
					text-align: center;
				}
				.eng {
					color: #fff;
				}
				.eno {
					font-size: 18px;
					font-family: 'Muli-Bold';
				}
			}
		}
		&.hidden {
			opacity: 0!important;
		}
		&.gone {
			display: none!important;
		}
		&.show {
			opacity: 1!important;
		}
		&#eng_eno_table {
			.word {
				display: flex;
				width: 75%;
				margin: 30px 0;
				margin-left: auto;
				margin-right: auto;
				.eno {
					width: 55%;
					text-align: right;
					padding-right: 14px;
					.num {
						font-size: 8px;
						position: absolute;
						color: #fff;
						margin-left: -20px;
					}
					.eno1 {
						display: inline-block;
						font-size: 18px;
						&.schueler-reg {
							font-size: 24px;
						}
					}
				}
				.eng {
					width: 45%;
					color: #fff;
					.space {
						opacity: 0;
						display: inline-block;
						font-size: 18px;
						&.schueler-reg {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
	.view-ctrl {
		margin: 1em 0px 2em;
		.btn {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			margin: 0px 2px;
			background-color: $base-xlight;
			color: $base-med;
			cursor: pointer;
			@include box-sizing( border-box );
			&.selected, &:hover {
				background-color: $highlight;
				color: $base-dark;
			}
		}
	}
}

h3.tall-num:after {
	content: " .";
}

.schueler-reg {
	font-family: 'Schueler';
	text-align: right;
}
.schueler-mono {
	font-family: 'Schueler';
	text-align: right;
}
p.schueler-reg, p.schueler-mono {
	font-size: 24px;
	line-height: 28px;
}
h3.schueler-reg, h3.schueler-mono {
	font-size: 26px;
}
#nav-menu a.schueler-reg {
	font-family: 'Schueler';
	font-size: 26px;
}
#nav-menu a.schueler-mono {
	font-family: 'Schueler';
}