// app stylesheet

@import '../webappTmpl/css/mixins';

//http://paletton.com/#uid=74v0u0klllltmeGpmi0hkoFdkr+
$base-light: #863D80;
$base-med: #74276D;
$base-dark: #590952;
$highlight: #D2CA78;

@font-face {
	font-family: 'Schueler';
	font-style: normal;
	font-weight: 400;
	src: local('Schueler'), url(../../fonts/Schueler.ttf) format('truetype');
}

.page {
	.view {
		display: block;
		position: relative;
		width: 100%;
		@include transition( opacity, .5s, ease-in-out, 0s );
		&#eng_eno {
			.word {
				display: inline-block;
				margin: 8px 10px;
				> div {
					display: block;
					text-align: center;
				}
				.eng {
					color: #fff;
				}
				.eno {
					font-size: 18px;
					font-family: 'Muli-Bold';
				}
			}
		}
	}
	.view-ctrl {
		.btn {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			margin: 0px 2px;
			background-color: $base-med;
			color: $base-dark;
			cursor: pointer;
			@include box-sizing( border-box );
			&.selected, &:hover {
				background-color: $highlight;
				color: $base-dark;
			}
		}
	}
}

.schueler-reg {
	font-family: 'Schueler';
	text-align: right;
}
.schueler-mono {
	font-family: 'Schueler';
	text-align: right;
}
p.schueler-reg, p.schueler-mono {
	font-size: 24px;
	line-height: 28px;
}
h3.schueler-reg, h3.schueler-mono {
	font-size: 26px;
}
#nav-menu a.schueler-reg {
	font-family: 'Schueler';
	font-size: 26px;
}
#nav-menu a.schueler-mono {
	font-family: 'Schueler';
}