// app stylesheet

@import '../webappTmpl/css/mixins';

@font-face {
	font-family: 'Schueler';
	font-style: normal;
	font-weight: 400;
	src: local('Schueler'), url(../../fonts/Schueler.ttf) format('truetype');
}

.page {
	.view {
		display: block;
		position: relative;
		width: 100%;
		@include transition( opacity, .5s, ease-in-out, 0s );
	}
}

.schueler-reg {
	font-family: 'Schueler';
	text-align: right;
}
.schueler-mono {
	font-family: 'Schueler';
	text-align: right;
}
p.schueler-reg, p.schueler-mono {
	font-size: 24px;
	line-height: 28px;
}
h3.schueler-reg, h3.schueler-mono {
	font-size: 26px;
}
#nav-menu a.schueler-reg {
	font-family: 'Schueler';
	font-size: 26px;
}
#nav-menu a.schueler-mono {
	font-family: 'Schueler';
}